body{
  background-color: #B71C1C;
  font-family: 'Lato', sans-serif;
}

h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #F9A825;
  margin-top: 15px;
  margin-bottom: 0px;
}

#container {
  display: grid;
  height: 350px;
  width: 80vw;
  background-color: #E0E0E0;
  padding: 10px;
  margin: 0px auto 5px auto;
  border: 5px solid #961b1b;
  border-radius: 20px;
}

#controlPanel{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  text-align: center;
}

label{
  font-size: 16px;
  color: white;
}

#reset{
  grid-area: 3/2/4/3;
}

input{
  border-style: none;
  background-color: #E0E0E0;
}

#submit{
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #E0E0E0;
}

#color{
  font-size: 16px;
  padding: 4px 20px;
  width: 60px;
  height: 28px;
  border-radius: 50px;
  background-color: #E0E0E0;
}

button{
  border-style: none;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  background-color: #E0E0E0;
}

#gridWidth{
  width: 60px;
  font-size: 16px;
}

#gridHeight{
  width: 60px;
  font-size: 16px;
}

.changePixel {
  background-color: rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 600px){
  #controlPanel{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px
  }

  #container {
    height: 450px;
  }
  
  #reset{
    grid-area: 2/1/3/7;
  }
}